uploads/*
!uploads/*/
!.gitkeep
logs/*
!logs/.gitkeep
.venv/
venv/
ENV/
env/
.uv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
config.ini
*.env
*.pem
*.key
@docs/
todo.md
run.bat
todo.md
.DS_Store
Thumbs.db
.vscode/
.idea/
database.db